<a href="https://colab.research.google.com/github/Pavankumar53/data-handling/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/BL-Flickr-Images-Book.csv")

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/BL-Flickr-Images-Book.csv")

In [ ]:
print(df.head())

In [ ]:
df.shape

In [ ]:
for col in df:
  print(col)

In [ ]:
to_drop=['Edition Statement','Contributors','Corporate Author','Corporate Contributors','Former owner','Engraver','Issuance type','Shelfmarks']
df.drop(to_drop,inplace=True,axis=1)
df.head()

In [ ]:
for col in df.columns:
  print(col)

In [ ]:
df.set_index('Identifier',inplace=True)
df.head()

In [ ]:
df['Date of Publication'].head(25)

In [ ]:
un_cha=['[',",","-"]
def clean_dates(item):
  dop=str(item.loc['Date of Publication'])
  if dop=='nan'or dop[0]=='[':
    return np.NaN
  for character in un_cha:
    if character in dop:
      character_index=dop.find(character)
      dop=dop[:character_index]
    return dop
df['Date of Publication']=df.apply(clean_dates,axis=1)

In [ ]:
df['Date of Publication'].head(25)

Identifier
206           1879
216            1868
218            1869
472            1851
480            1857
481            1875
519            1872
667             NaN
874            1676
1143           1679
1280           1802
1808           1859
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
4976           1800
5382      1847, 48
5385            NaN
Name: Date of Publication, dtype: object

In [ ]:
def clean_title(title):
  if title == 'nan':
    return 'NaN'
  if title[0] == '[':
    title = title[1:title.find(']')]
  if 'by' in title:
    title = title[:title.find('by')]
  elif 'By' in title:
    title = title[:title.find('By')]
  if '[' in title:
    title = title[:title.find('[')]
  title = title[:-2]
  df['Title'] = df['Title'].apply(clean_title)
  df.head()

In [ ]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...